*{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 0;
  margin: 0;
}
.san-font
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.name-desc
{
    
    font-family:'Times New Roman', Times, serif ;
}
