.bottom-footer
{
    display: none;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 1;
   border-top: 2px solid rgba(255, 255, 255, 0.2);

}


.footer-column
{
    width: 20%;
    text-align: center;
}

.white
{
    font-weight: bolder;
}
.hieght
{
    height: 4rem;
}
.footer-row
{
   display: flex;
}

.footer-text
{
    font-size: x-small;
}
